.hero {
  background-color: $color-border;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  
  @media screen and (min-width: $bp-small) {
    padding-top: 50px;
  }
  
  @media screen and (min-width: $bp-medium) {
    padding-top: 100px;
    padding-bottom: 20px;
  }
  
  @media screen and (min-width: $bp-large) {
    padding-top: 180px;
  }
  
  h1 {
    @include font-size(32);
    margin: 0 0 .25em;
    
    @media screen and (min-width: $bp-medium) {
      @include font-size(40);
    }
    
  }
  
  p {
    line-height: 1.6;
    margin-bottom: 1em;
    
    &:last-child {
      margin-bottom: 0;
    }
    
  }
  
  &-slim {
    background-color: $color-border;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 10px;
    
    @media screen and (min-width: $bp-small) {
      padding: 30px;
    }
    
    @media screen and (min-width: $bp-medium) {
      padding: 40px;
    }
    
  }
  
}

.hero-content {
  background: $color-black;
  background: rgba($color-black, .75);
  max-width: 700px;
  margin: 0;
  color: $color-white;
  
  .hero-slim & {
    margin: auto;
    text-align: center;
  }
  
  @media screen and (min-width: $bp-small) {
    width: 95%;
    background: rgba($color-black, .85);
  }
  
  @media screen and (min-width: $bp-medium) {

  }
  
  @media screen and (min-width: $bp-large) {

  }
  
}

.hero-content-inner {
  padding: 20px;
  
  @media screen and (min-width: $bp-medium) {
    padding: 30px;
  }
  
  .hero-slim & {
    padding: 30px;
    
    
    h1 {
      margin: 0;
      @include font-size(34);
      line-height: 1.3;
      
      
      @media screen and (min-width: $bp-medium) {
        @include font-size(40);
      }
      
    }
    
  }
  
}

.meta {
  @include font-size(14);
  
  a {
    color: $color-white;
    border-bottom-color: rgba($color-white, .2);
    
    &:hover {
      border-bottom-color: rgba($color-white, .5);
    }
    
  }
  
}